<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="fcf4a3a1-7c81-428f-a84f-3acbdfa23775" Publisher="CN=berty" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WibblyWobblyTimeyWimeyStuff</DisplayName>
    <PublisherDisplayName>berty</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WibblyWobblyTimeyWimeyStuff.App">
      <VisualElements DisplayName="WibblyWobblyTimeyWimeyStuff" Logo="Clock App Picture 150px.png" SmallLogo="Clock App Picture 30px.png" Description="WibblyWobblyTimeyWimeyStuff" ForegroundText="dark" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Clock App Picture 310px.png" />
        <SplashScreen Image="Clock App Picture Splash.png" BackgroundColor="#003300" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>